<div *ngIf="products.length > 0; else noproduct" class="mt-3">
  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let p of products"
    >
      <span>
        {{ p.name }} <br>
        {{ p.description }}<br>
        {{ p.price }}
      </span>
       <span>
        <button (click)="deleteProduct($event, p)" class="btn btn-danger mx-2">
          delete
        </button>
        <button (click)="editProduct(p)" class="btn btn-warning">edit</button>
       </span>
        <div *ngIf="edit && editingProduct.id == p.id">
            <form>
              <div class="form-group">
        <input type="text" class="form-control" name="name" [(ngModel)]="editingProduct.name" placeholder="name">
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" name="description" [(ngModel)]="editingProduct.description" placeholder="description">
              </div>
              <div class="form-group">
                  <input type="number" placeholder="price" class="form-control" name="price" [(ngModel)]="editingProduct.price">
              </div>
              <button (click)="updateProduct()" class="btn btn-primary">update product</button>
          </form>
        </div>
    </li>
  </ul>
</div>

<ng-template #noproduct>
  <p>there are not product yet</p>
</ng-template>
